.container {
  width: 100vw;
  min-height: 100vh;
  padding: 20rpx;
  box-sizing: border-box;
  background-color: $todo-secondary-color;

  .sumTodoCount {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
