.index {
  width: 100vw;
  height: 100vh;
  border-top: 1rpx solid white;
  box-sizing: border-box;
  background-color: $todo-secondary-color;

  .container {
    width: 100%;
    height: calc(100vh - 88rpx);
    padding: 10rpx;
    box-sizing: border-box;
    // overflow: scroll;
  }

  .buttonArea {
    width: 78rpx;
    height: 78rpx;
    border-radius: 50%;
    box-shadow: 0rpx 0rpx 8rpx #999999;
    background-color: $color-brand;

    font-size: 50rpx;
    color: #ffffff;
    text-align: center;
    line-height: 78rpx;

    position: fixed;
    right: 40rpx;
    bottom: 150rpx;

    cursor: pointer;
  }
}
