.addDialog {
  width: 100%;
  padding: 48rpx;
  box-sizing: border-box;

  .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .priority {
  //   --radio-checked-icon-background-color: #00447299;
  //   --radio-checked-icon-border-color: #00447299;
  // }

  // .timerType {
  //   --radio-checked-icon-background-color: #00447299;
  //   --radio-checked-icon-border-color: #00447299;
  // }

  .addSubmit {
    width: 100%;
    font-size: 24rpx;
    // color: black;
    letter-spacing: 10rpx;
    margin-top: 24rpx;
    text-shadow: 1rpx 1rpx 2rpx black;
  }
}
